.chair {
    display: grid;
    grid-template-columns: repeat(6, 10fr);
    gap: 10px;

}

.container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 70px;
    top: 40px;
}
.counterChair {
    position: absolute; 
    bottom: 97%; 
    text-align: center; 
    color: rgb(255, 105, 130);
}
.container_reservation {
    display: flex;
    flex-wrap: wrap;
    color: rgb(70, 70, 70);
}

.container_reservation > div {
    flex: 1 0 10%;
}

.sillas_reservadas {
    margin-top: -2px;
}

.componet_sillas {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    font-size: 14px;
}

.componet_sillas p {
    margin: 0;
    padding: 5px 8px;
    background-color: #fff1f7;
    border-radius: 5px;
    font-size: 14px;
    width: calc(16% - 2px); 
    box-sizing: border-box;
    margin-bottom: 10px; 
    margin-right: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton_confirmacion {
    color: rgb(58, 58, 58); 
    padding: 10px 20px;
    background-color: rgb(255, 122, 144);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; 
}
  
.boton_confirmacion:active {
    background-color: rgb(252, 132, 152); 
    transform: translateY(2px);
}
.boton_clean {
    background-color: transparent; 
    color: rgb(73, 73, 73); 
    padding: 10px 20px;
    border: 2px solid rgb(248, 84, 112); 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; 
  }
  
  .boton_clean:active {
    background-color: rgb(248, 84, 112); 
    transform: translateY(2px); 
  }
  
  /* setChair () */